/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*  ---------------Utility Classes-----------------  */

  .container{
    width:80vw;
    max-width:960px;
    margin: 40px auto; /* auto automatically centers text for all screen sizes*/

    .img-right{
        float:right;
        border:1px soild #c0c0c0;
        padding:5px;
        margin: 10px 0 10px 20px;
        max-width:30vw;
    }
    .img-left{
        float:left;
        border:1px soild #c0c0c0;
        padding:5px;
        margin: 10px 20px 10px 0px;
        max-width:30vw;
    }
    .img-center{
        display:block;
        margin:10px auto;
        border:1px soild #c0c0c0;
        padding:5px;
    }

  }

  /*  ---------------Responsive Images-----------------  */
  img{
    max-width: 100%;
  }



body{
 font-family: "Hammersmith One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.05rem;
    background-color:#CDD7DF;
margin:0;   
}



header.primary{
background-color:#022859;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239C92AC' fill-opacity='0.18' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
color:#CDD7DF;
text-align: center;
text-shadow:  .5px .5px #8b0000;
padding: 20px 40px;  /* can be used for margin */
}


header.primary h1 a{
color:#8b0000;
text-shadow: white .4px .4px;
text-decoration:none;
font-family: "Volkhov", serif;
font-weight: 400;
font-style: normal;
font-size: 3.2rem;
    /* top | left and right | bottom */
    margin:20px 0 0;
   
}

header.primary h2{
    font-size: 1.3rem;
    margin: 0;
    letter-spacing:.2px;
}
nav{}

nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    max-width:960px;
    margin:20px auto;
}
nav ul li{
    list-style-type:none;
}
nav ul li a{
    color:#8b0000;
    background: white;
    font-size: .9rem;
    text-decoration:none;
    border: 2px dashed #8b0000;
    padding: 7.5px 10px;
    background-color:#8b0000;
    background-color:rgba(240,248,255,.4);
    border-radius: 20px 20px 20px 20px;
   transition:.4s;

}

nav ul li a:hover{
    background-color:rgba(240,248,255,.8);
}

#content{}

#content h2{
    color:#2c3e50;
    border-bottom: 2px solid #8b0000;
}


#content h3{
    border-left: 8.5px solid darkgrey;
    padding: 5px 0 5px 10px;
}

#blog{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;
    border-top: 1px solid #8b0000;
    border-bottom: 1px solid #8b0000;
    padding: 40px 0; /*space text and border*/
    
}

#blog article.post{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size:.8rem;
    border-radius: 5px;
    transition: .5s ;
    background-color:#0D273D;
    color:#CDD7DF;;

    

}

#blog article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}

figure img{
    margin:auto;
    display:block;
    border:solid #8b0000;
    position:relative;

}

figcaption{
    text-transform:uppercase;
    font-size: .6rem;
    /*text-align:center;*/ 
    color:#CDD7DF;
}

#blog article.post a{
    text-decoration:none;
    color:#CDD7DF;

}

table{
    border-top:2px solid #8b0000;
    width:80%;
    margin: 2rem auto;
    border:1px solid #CDD7DF;
    border-collapse:collapse;
    

  }
  caption{
    font-weight: bold;
    margin: 10px;
    font-size:1.3rem;
    color:#2c3e50;
  }
  tr:nth-child(even){ /*striping chart, even for even rows, odd for odd rows and numbers for number of row*/
    background-color: rgba(0, 0, 0, 0.1);

  }

    tr:hover{
        background-color: rgba(0, 0, 0, 0.3);   

    }
td:nth-child(n+2){
    text-align:right;
    }

  th{
    background-color: #022859;
    color:#CDD7DF;
    padding:7.5px;
  }

    
  
  td{
  border:1px solid #CDD7DF;
  padding:5px;
  }

#practice ol{
    list-style-type: lower-roman;

}

#practice ul ul li{
    list-style-type: square;
}

#practice dl dd{
    margin:0;
    
}

#practice dl dt{
    font-weight: bold;

}

dd + dt{
    margin-top: 20px;
}

#practice blockquote{
    border:4px double #022859;
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius:4px 20px 4px 20px;
}

#practice blockquote cite{
    display:block;
    text-align: right;
    font-size: 0.8rem;
    margin-top:1rem;

}


aside[role="complementary"]{
    background-color:#022859;
    padding:40px 0;
}

aside .container h2{
    color:#CDD7DF;
}

aside .container p{
    color:#CDD7DF;
}
aside .container{
    display:flex;
    flex-direction: row;
    gap: 40px;
}
 

aside .container a{
    color:#CDD7DF;;
    display:block;
    text-align: right;
}

aside article footer{
    display:none;

}

#colophon{
    background-color:#022859;
    padding:1px;
    text-align: center;
    color:#CDD7DF;
    font-size: 1.2rem;
    text-shadow:  .5px .5px #CDD7DF;
}

#colophon a{
    background-color:#022859;
    padding:1px;
    text-align: center;
    color:#CDD7DF;
    text-shadow:  .5px .5px #CDD7DF;
}

#practice h2{
    color: #022859;
    border-bottom:1px dotted #CDD7DF;
}

#practice a{
    color:#022859;
    transition: .5s;
}

#practice a:hover{
    text-decoration: none;
}






/*  ---------------Media Queries-----------------  */


@media screen and (max-width:440px){
  
    nav.primary ul{
      flex-direction:column;
      gap:10px;
      max-width: 200px;
      margin:20px auto;

    }

    nav.primary ul li a{
        display:block;
    }

}
